/* global */
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Baloo Bhai 2', cursive;
    box-sizing: border-box;
}
/* header */
header{
    height: 25vh;
    
    /* border:2px solid red; */
    overflow: auto;
}
.connect{
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(11, 194, 179);
  
    
}
.connect .link{
    display: flex;
    align-items: center;
}
.connect .contact{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.connect .link a i{
    padding: 0px 13px;
    font-size: 17px;
}
.connect .link p{
    padding: 0px 0px;
    font-size: 17px;
}
.email , .phone {
    padding: 12px;
    font-size: 17px;
}

#lang select{
    border: none;
    background-color: rgb(11, 194, 179);
    color: white; 
}
.navbar .item{
    padding: 0px 0px;
    margin: 0px 13px;
    margin-right: 13px;
}
i{
    color: honeydew;
}
.navbar .logo{
    height: 100%;
    width:20%;
    margin-left: 100px;
}


.navbar{
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar div ul{
    display: flex;
    list-style: none;
    padding:23px ;
}


.navbar div ul li a{
    color: rgb(48, 39, 39);
    font-size: 20px;
    padding:23px ;
    text-decoration: none;
}
.navbar div ul li a:active{
   font-weight: bold;
}
.navbar div ul li a:visited{
   font-weight: bold;
}
.navbar :nth-child(3){
    flex-basis: 14%;
    
}
.navbar .btn {
    background-color:rgb(11, 194, 179) ;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 13px;
    display: block;
    margin: 9px;
    padding: 9px;
    cursor: pointer;
}

/*home section*/
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
   padding: 10px 10%;
    height: 75vh;
    color: white;
    position: relative;
    
}
#home .review .home-content{
    width: 80%;
}
.btn{
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    
}
.home-heading{
    padding: 0px 0px;
    margin: 0px;
}
 #home::before{
     content: "";
     position: absolute;
     top: 0px;
     left:0px;
background: url(../image/home1.jpg) no-repeat center center/cover;
height: 100%;
width: 100%;
z-index: -1;
 }

 /* *************Causes**************************** */

 #causes{
     display: flex;
     flex-direction: column;
     align-items: center;
     /* border: 2px solid red; */
     height: 90vh;
     overflow: auto;
     padding: 20px 0px;
 }
#causes .causes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.causes-para{
   text-align: center;
}
#causes .causes-heading{
    height: 5%;
    position: relative;
}
#causes .causes .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid brown; */
    margin: 30px;
    border-radius: 20px;
    padding: 25px;
    width: 300px;
    overflow: auto;
}
.causes-heading::after{
    content: "";
    position: absolute;
    top: 97%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: rgb(193, 172, 172);
    display: block;
}
#causes .causes-para{
    font-size: 20px;
    height: 6%;
    color: grey;
}
#causes .causes .box img{
    background-repeat: no-repeat;
    background-position: center;
    height: 160px;
    width: 19vw;
}
#causes .causes-heading span:nth-child(2){
    color: rgb(11, 194, 179);
}

#causes .btn {
    background-color:rgb(11, 194, 179) ;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin: 9px;
    padding: 9px;
    cursor: pointer;
    
}
#causes .causes-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.review{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 96%;
}
 .review i{
    color:grey ;
}

/* **************volunteers************ */
#volunteers .volunteers .box img{
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 19vw;
    border-radius: 5px;
}
#volunteers{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
line-height: 10px;
padding: 0px;
padding-bottom: 5%;
}
#volunteers  p{
text-align: center;

font-size: 15px;
color: rgb(86, 65, 65);
}
#volunteers h1{
    position: relative;
}
#volunteers h1::after{
    content: "";
    position: absolute;
    top: 180%;
    left: 0%;
    width: 100%;
    height: 24%;
    background-color: rgb(193, 172, 172);
    display: block;
}
#volunteers .volunteers-para1 p{
text-align: center;
color: rgb(86, 65, 65);
}
#volunteers .volunteers{
    display: flex;
}
#volunteers .volunteers .box{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* border:2px solid red; */
    margin: 15px;
    justify-content: center;
    align-items:center;
}
#volunteers .volunteers-heading span:nth-child(2){
    color: rgb(11, 194, 179);
}
/* testimonials */

#testimonials{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    position: relative;
    height: 70vh;
    color: white;
    line-height: 60px;
}

#testimonials h1{
    height: 15%;
    position: relative;
}
#testimonials img{
width: 100px;
height: 100px;
position: relative;
border-radius: 100px;
}
#testimonials::before{
    content: "";
    background: url(../image/people-say-bg.jpg) no-repeat center center/cover;
    height:100%;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0.9;
}
#testimonials h1::after{
    content: "";
    position: absolute;
    top: 59%;
    left:0%;
    width: 100%;
    height: 2.5%;
    background-color: rgb(193, 172, 172);
    display: block;
}
#testimonials .testimonials-para{
 text-align: center;
    align-items: center;
    width: 80%;
    height: 50%;
     
}
#testimonials .testimonials-para p{
    font-size: 15px;
    line-height: 1;
}
#testimonials .testimonials-para hr {
   width: 100%;
   color: azure;
}
/* ***********footer************** */
footer{
   
    color: white;
    background-color: #232323;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footer-box1{
    display: flex;
    height: 88%;
    align-items: center;
    justify-content: center;
}
footer .footer-box1 .box1-item{
    margin: 1.5rem;
    height: 80%;
    line-height: 0.8;
   padding-top: 3rem;
    position: relative;
}
footer .footer-box1 .box1-item p a{
    color: white;
    text-decoration: none;
}

footer .footer-box2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    height:12%;
}
footer .footer-box2 .box2-item ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
footer .footer-box2 .box2-item ul li{
   padding: 1rem;
}
footer .footer-box2 .box2-item ul li a{
   color: white;
   cursor: pointer;
}
.box1-item h3::after {
    position: absolute;
    content: "";
    top: 25%;
    left: 0;
    width: 2rem;
    height: 1%;
    background-color: #4faba1;
}
.footer-email{
    display: flex;
    width: 60%;
    grid-template-columns: 4fr 1fr;
}
input[type="email"]{
border: none;
outline: none;

padding: 2%;
}
.footer-email div:nth-child(2){
    background-color: rgb(11, 194, 179);
    width: 14%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
footer p span{
    color: red;
}
.footer-box2 .box2-item{
    margin: 0px 4rem;
}
.footer-box2 .box2-item:nth-child(2){
    margin: 0px 4rem;
} 

